.logoLogin {
    width: 210px;
    }
  
  @media (max-width: 290px) {
      .logoLogin {
        margin: 4px ;
        width: 155px ;
      }
  }
  
    @media (max-width: 960px) {
    }

.login {
    background: #7084dc;
}
  