<p-menubar >
        <ng-template pTemplate="start">
            <div class="div-sidebar-logos">
                <img src="assets/icon.png" alt="Logo SCM" height="100" class="mr-2 logoLeft">
                <span class="lineVertical"></span>
                <!-- <img src="assets/logoBankPro.png" alt="Logo BankPro" height="60" class="mr-2 logoLeft"> -->
                <span class="lineVertical-color"></span>
                
            </div>
        </ng-template>
    
        <ng-template pTemplate="end">
            <div style="font-size: 5px;width: 100px;margin-left: 15px;margin-right: 11px;">
                <span class="name-text" >{{this.dateTime}}</span>
            </div>
        </ng-template>
  
</p-menubar>
